[Desktop Entry]
Name=BotuiFlip
Comment=flip the UI back to a different orientation
Exec=/home/root/flip_input.sh
Terminal=true
Type=Application
StartupNotify=true
Categories=System;Settings;
